pkgbase = logcheck-database
	pkgdesc = Database of system log rules for logcheck (repackaged from Debian)
	pkgver = 1.4.7
	pkgrel = 1
	url = https://packages.debian.org/testing/logcheck-database
	arch = any
	license = GPL
	optdepends = logcheck-filter: CLI tool for filtering logs using logcheck rules
	optdepends = fluent-bit-logcheck-filter: Fluent-Bit WASM filter using logcheck rules
	conflicts = logcheck-database
	source = http://deb.debian.org/debian/pool/main/l/logcheck/logcheck-database_1.4.7_all.deb
	sha256sums = SKIP

pkgname = logcheck-database