pkgbase = fluent-bit-logcheck-filter
	pkgdesc = Fluent-Bit WASM filter for filtering logs using logcheck rules
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/finkregh/fluent-bit-logcheck
	arch = any
	license = Apache-2.0
	license = MIT
	makedepends = cargo
	makedepends = rustup
	makedepends = git
	optdepends = logcheck-database: Debian logcheck rule database
	optdepends = fluent-bit: to use this plugin
	options = !lto
	source = fluent-bit-logcheck-filter::git+https://github.com/finkregh/fluent-bit-logcheck.git
	b2sums = SKIP

pkgname = fluent-bit-logcheck-filter
