pkgbase = logcheck-filter
	pkgdesc = CLI tool for filtering logs using logcheck rules
	pkgver = 0.0.3
	pkgrel = 1
	url = https://github.com/Finkregh/fluent-bit-logcheck
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = cargo
	makedepends = rustup
	makedepends = git
	depends = gcc-libs
	depends = glibc
	optdepends = logcheck-database: official Debian logcheck rule database
	options = !lto
	source = logcheck-filter::git+https://github.com/Finkregh/fluent-bit-logcheck.git
	b2sums = SKIP

pkgname = logcheck-filter
